<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Update Lodge</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/lodges/<%=lodge._id%>?_method=PUT" method="post" novalidate class="form-validated" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title : </label>
                    <input class="form-control" type="text" id="title" name="lodge[title]" value="<%=lodge.title%>" required>
                    <div class="valid-feedback">
                        Looks Good !!!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location : </label>
                    <input class="form-control" type="text" id="location" name="lodge[location]" value="<%=lodge.location%>" required>
                    <div class="valid-feedback">
                        Looks Good !!!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Lodge Price : </label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">₹</span>
                        <input name="lodge[price]" type="text" id="price" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="price-label" value="<%=lodge.price%>" required>
                        <div class="valid-feedback">
                        Looks Good !!!
                    </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description : </label>
                    <textarea class="form-control" type="text" id="description" name="lodge[description]" required><%=lodge.description%></textarea>
                        <div class="valid-feedback">
                        Looks Good !!!
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input name="image" type="file" class="form-control" id="lodgeImages" multiple>
                    <label class="input-group-text" for="lodgeImages">Add Images</label>
                  </div>
                <div class="mb-3">
                    <% lodge.images.forEach((img, i) => { %>
                        <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                        </div>
                            <label for="image-<%=i%>">Delete ?</label>
                        <% }) %>  
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Lodge</button>
                </div>
            </form>
            <a href="/lodges/<%=lodge._id%>">Back To Lodge</a>
        </div>
    </div>